@import './base.css';

#app {
  font-weight: normal;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.4s;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    padding: 0 2rem;
  }
}
