@import './base.css';


a {
  text-decoration: none;
}

nav a {
  transition: 0.4s;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

.all-transactions-table > tbody > tr > td {
  padding-inline-start: 0.5em;
  padding-inline-end: 0.5em;
}

.all-transactions-table.table--is-wide > tbody > tr > td {
  padding-inline-start: 0.25em;
  padding-inline-end: 0.25em;
}

.transaction-date {
  background-color: var(--as-color-complement-4);
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}
.transaction-date td {
  font-weight: bold;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.table--is-wide .transaction-date td {
  padding-left: 0;
  padding-right: 0;
}

.details {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.tr-not-confirmed {
  font-weight: bold;
}
.transaction-text > div {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}
.transaction-text > .transaction-data {
  display: block;
}
.transaction-text .td-text-item {
  overflow-x: hidden;
  overflow-wrap: anywhere;
  hyphens: auto;
}
.transaction-amount {
  white-space: nowrap;
  text-align: end;
  width: 8em;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.item--is-category {
  font-size: 0.8em;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  hyphens: auto;
}
.item--is-text {
  font-size: 0.8em;
  overflow-x: hidden;
  overflow-wrap: anywhere;
  hyphens: auto;
}
.item--is-notes {
  font-size: 0.8em;
  overflow-x: hidden;
  overflow-wrap: anywhere;
  hyphens: auto;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    padding: 0 2rem;
  }
}
